body {
  background-color: #f3e6ff;
  color: #333;
}
header, footer {
  background-color: #d4a4ff;
  color: white;
  padding: 1rem 0;
}

h1, h2, h3 {
  color: #0d6efd;
}

.navbar-light .navbar-brand,
.navbar-light .nav-link {
  color: #0d6efd;
}

.card {
  border: 1px solid #9ec5fe;
}

.card-title {
  color: #0d6efd;
}

.card-text {
  color: #0a58ca;
}

button {
  background-color: #0d6efd;
  color: white;
  border: none;
}

button:hover {
  background-color: #0a58ca;
}